<!--
    templateType: page
    label: US Presidential Election Campaign Plan
    isAvailableForNewContent: true
-->
{% extends "./layouts/sw-base.html" %}

{% block body %}
    {%dnd_area "dnd_area"
    label="Main section",
    class="body-container body-container--campaign-plan"
    %}

    {% dnd_section
    background_color="rgba(10, 59, 129, 1)"
    %}

        {% dnd_module 'name'
            path="/shalom_world_web_theme/modules/header"
            width=12
            offset=0,
            horizontal_alignment='center'
        %}
        {% end_dnd_module %}
    {% end_dnd_section %}
    {% dnd_section%}
        {%dnd_module 'secondary top banner'
            path="/shalom_world_web_theme/modules/oneMonthPrayerBanner",
            width=12,
            offset=0,
            horizontal_alignment='center',
        %}
        {%end_dnd_module%}
    
    {% end_dnd_section %}

    {% dnd_section
    background_color="rgba(10, 59, 129, 1)",
    padding={ "top": 0, "bottom": "100px" }
    %}
        {%dnd_module
        path="/shalom_world_web_theme/modules/campaignPlan",
        %}
        {%end_dnd_module%}
    {% end_dnd_section %}
    {% dnd_section
    background_color="rgba(10, 59, 129, 1)"
    %}
        {%dnd_module
        path="/shalom_world_web_theme/modules/knowMoreFooterMob",
        %}
        {%end_dnd_module%}
    {% end_dnd_section %}
    {% dnd_section
    background_color="rgba(10, 59, 129, 1)"
    %}
        {%dnd_module
        path="/shalom_world_web_theme/modules/footer",
        %}
        {%end_dnd_module%}
    {% end_dnd_section %}
{% end_dnd_area %}
{% endblock body %}