<!--
    templateType: page
    label: US Presidential Election Live Player Page
    isAvailableForNewContent: true
-->

{% extends "./layouts/sw-base.html" %}
{% set vimeo = true%}
{% block body %}
    {%dnd_area "dnd_area"
    label="Main section",
    class="body-container body-container--campaign-plan"
    %}

    {% dnd_section
    background_color="rgba(10, 59, 129, 1)"
    %}

        {% dnd_module 'name'
            path="/shalom_world_web_theme/modules/header"
            width=12
            offset=0,
            horizontal_alignment='center'
        %}
        {% end_dnd_module %}
    {% end_dnd_section %}
    {% dnd_section%}
        {%dnd_module 'secondary top banner'
            path="/shalom_world_web_theme/modules/oneMonthPrayerBanner",
            width=12,
            offset=0,
            horizontal_alignment='center',
        %}
        {%end_dnd_module%}
    
    {% end_dnd_section %}

    {% dnd_section
    background_color="rgba(10, 59, 129, 1)",
    %}
        {# Live player #}

        {%dnd_module
        path="/shalom_world_web_theme/modules/player",
        %}
        {%end_dnd_module%}

    {% end_dnd_section %}
    {% dnd_section
    background_color="rgba(10, 59, 129, 1)",
    %}
      

        {%dnd_module
        path="/shalom_world_web_theme/modules/knowMoreFooterMob",
        %}
        {%end_dnd_module%}

    {% end_dnd_section %}
    {% dnd_section
    background_color="rgba(10, 59, 129, 1)"
    %}
        {%dnd_module
        path="/shalom_world_web_theme/modules/footer",
        %}
        {%end_dnd_module%}
    {% end_dnd_section %}
{% end_dnd_area %}
{% endblock body %}