<!--
  templateType: page
  isAvailableForNewContent: true
  label: login_page
-->

{% extends "./layouts/sw-base.html" %}


{% block body %}
{% dnd_area "dnd_area"
  label="Main section",
  class="body-container body-container--login"
%}
    {% dnd_section background_color="rgba(10, 59, 129, 1)", %}

        {% dnd_module 'name'
            path="/shalom_world_web_theme/modules/header"
            width=12
            offset=0,
            horizontal_alignment='center'
        %}
        {% end_dnd_module %}
    {% end_dnd_section %}
{% dnd_section%}
    {%dnd_module
    path="/shalom_world_web_theme/modules/topBanner",
    %}
    {%end_dnd_module%}
    
{%end_dnd_section%}
    {% dnd_section
    background_color="rgba(10, 59, 129, 1)",
    full_width=true,
    padding ={
    "top": "150px",
    "right": 0,
    "bottom": "100px",
    "left": 0
    }
  %}
      {% dnd_module 'login'
      path="/shalom_world_web_theme/modules/loginForm" 
      width=12
      offset=0
      %}
        {% end_dnd_module %}
  {% end_dnd_section %}
{% dnd_section

%}
    {%dnd_module
    path="/shalom_world_web_theme/modules/footer",
    %}
    {%end_dnd_module%}
{%end_dnd_section%}
{% end_dnd_area %}
{% endblock body %}

