.bgMain {
    margin: 0px auto;
    position: relative;
    background: url("https://143223961.fs1.hubspotusercontent-eu1.net/hubfs/143223961/US%20Election%20Prayer%20Page%20Assets/Prayer%20Board/bg-mobile.png");
    background-color: #111015;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 230px;
    color: white;
    max-height: 70vh;
}

.bgMain ul.logo-center {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    bottom: -115px;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);

    /* margin-bottom: 50px; */
}

.bgMain ul.logo-center img {
    max-width: 270px;
    @media only screen and (max-width: 400px){
        max-width: 270px;
        max-height: 93px;
    }
}

.bgMain ul.logo-center p {
    font-family: "Inter", serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.2px;
    text-align: center;
    color: #FFFFFF;

}

.bgMain ul.logo-center span {
    color: #EDCEA1;
}

.bgMain:after {
    content: '';
    background: linear-gradient(180deg, #0a3b8100 30%, #0a3b81 80%) !important;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Media query for screens smaller than or equal to 768px */
@media only screen and (min-width: 1440px) {
    .bgMain ul.logo-center {
    bottom: -4px;
    }
}


@media only screen and (min-width: 768px) {
    .bgMain {
        background: url("https://143223961.fs1.hubspotusercontent-eu1.net/hubfs/143223961/US%20Election%20Prayer%20Page%20Assets/Prayer%20Board/Rectangle%20111.png");
        height: 70vh;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        color: black;
    }
    .bgMain:after {
        content: '';
        background: linear-gradient(180deg, #0a3b8100 38%, #0a3b81 82%) !important;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .bgMain ul.logo-center {
        display: flex;
        margin: 0;
        padding: 0;
        list-style-type: none;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: -16px;
        z-index: 1;
        left: 50%;
        transform: translateX(-50%);
    }

    .bgMain ul.logo-center p {
        text-align: left;
        padding-left: 22px;
        border-left: 2px solid #EDCEA1;
        white-space: nowrap;
        color: #EDCEA1;
    }

    .bgMain ul.logo-center img {
        padding-right: 24px;
    }

    /* .bgMain ul.logo-center p:before {
        content: '';  
        
    } */
}
@media only screen and (max-width: 400px){
    .bgMain:after {
        background: linear-gradient(180deg, #0a3b8100 30%, #0a3b81 74%) !important;
    }
    .bgMain ul.logo-center {
        bottom: -95px;
    }
}
@media only screen and (min-width: 1900px){
    .bgMain:after {
        background: linear-gradient(180deg, #0a3b8100 30%, #0a3b81 81%) !important;
    }
    .bgMain ul.logo-center img {
        max-width: 400px;
    }
    .bgMain ul.logo-center p {
        font-size: 29px;
    }
}