body {
    background-color: #000;
    color: #fff;
    font-family: "Inter", sans-serif;
    }
    
    .virtual-chappel h1 {
        text-align: center;
    }
    
    .countdown-segment span {
        color: #FFFFFF99;
        font-weight: 300;
}

.wrapper_video {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    padding-bottom: 5%;
}

.virtual-chappel h1 {
    padding-top: 5%;
    font-size: 1.5rem;
}

#seconds,
#minutes,
#hours,
#days {
    width: 130px;
    /* border: 2px solid green; */
}
#countdown {
    background-color: #000;
    padding: 5%;
    border-radius: 5px;
    height: 70vh;
        width: 80%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
}

.timer {
    text-align: center;
    font-size: 48px;
}

.timer h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #aaa;
    letter-spacing: 3px;
}

.countdown-segment {
    display: inline-block;
    margin: 0 10px;
    text-align: center;
}

.countdown-segment span {
    display: block;
    font-size: 80px;
    /* font-weight: bold; */
}

.countdown-segment small {
    font-size: 24px;
    color: #888;
    text-transform: uppercase;
}
.player_container__ {
    width: 100%;
    padding: 0 5%;
}

/* Responsive */
@media (max-width: 768px) {
    .timer h2 {
        font-size: 20px;
    }

    .countdown-segment span {
        font-size: 60px;
    }

    .countdown-segment small {
        font-size: 14px;
    }
}

@media (max-width: 320px) {
    .timer h2 {
        font-size: 16px;
    }

    .countdown-segment span {
        font-size: 23px;
    }

    .countdown-segment small {
        font-size: 12px;
    }

    .timer {
        font-size: 24px;
    }

    .countdown-segment span {
        font-size: 33px;
    }
}

@media (min-width:320px) and (max-width: 450px) {
    .countdown-segment span {
        font-size: calc(16px + 3vw) !important;
    }
}
@media (min-width:320px) and (max-width: 932px) {

    #seconds,
    #minutes,
    #hours,
    #days {
        font-size: 1.75rem;
        width: 70px;

    }

    small {
        font-size: 1rem !important;
    }

    #countdown {
        height: 43vh;
        width: 90%;
    }

    .countdown-segment {
        margin: 0 !important;
    }
}


@media (min-width:320px) and (max-width: 582px) {

    #seconds,
    #minutes,
    #hours,
    #days {
        font-size: 1rem !important;
        width: 50px !important;
    }

    #countdown {
        height: 37vh !important;
        width: 90% !important;
    }

    small {
        font-size: 0.7rem;
    }
}