.body-container_schedules{
    /* width: auto;
    height: auto; */
    padding-bottom: 100px;
    /* background-color: #003366; */
}
.body-container_schedules .container {
    width: 100%;
    max-width: 775px;
    margin: 20px auto;
    color: white;
    /* padding: 20px; */
    border-radius: 10px;
   
}
.body-container_schedules .header {
    text-align: center;
    margin-bottom: 20px;
}
.body-container_schedules .header h1 {
    margin: 0;
    font-size: 28px;
    font-family: "Inter";
}
.body-container_schedules .header p {
    margin: 5px 0;
    font-size: 18px;
}
.body-container_schedules p {
    font-family: "Inter";
    font-size: 23px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
    margin: 10px;
}
.body-container_schedules span.live {
    background-color: #C23A3B;
    padding: 4px;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 600;
    line-height: 14.52px;
    text-align: left;

}
.body-container_schedules .image-container {
    text-align: center;
    margin-bottom: 20px;
    place-content: center;
    max-width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.body-container_schedules  .image-container button.calendar-button {
    align-items: center;
    gap: 10px;
    background-color: #0A3B81;
    color: white;
    border: none;
    position: relative;
    /* padding: 10px 20px; */
    display: flex;
    font-family: "Inter";
    font-size: 18px;
    font-weight: 500;
    line-height: 24.2px;
    text-align: left;

}   

.body-container_schedules .image-container img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}


.body-container_schedules .label-time-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.body-container_schedules .label-time-slot {
    padding: 12px 25px;
    background-color: #003e7e;
    margin: 0 10px;

    /* Adjusted gradients with small vertical offsets */
    background: 
                linear-gradient(to right, #FFFFFF99 1px, transparent 1px) 0 20px,
                linear-gradient(to left, #FFFFFF99 1px, transparent 1px) 100% 20px, 
                linear-gradient(to bottom, #FFFFFF99 1px, transparent 1px) 0 20px, 
                linear-gradient(to bottom, #FFFFFF99 1px, transparent 1px) calc(100% - 0px) 20px; 
    
    background-repeat: no-repeat;
    background-size: 18px 18px;
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 23px;
    text-align: center;
    margin-bottom: 8px;

}
.body-container_schedules .image-container {
    text-align: center;
    margin-bottom: 20px;
}
.body-container_schedules .image-container img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}
/* .time-slots {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
} */
.body-container_schedules .time-slots {
    text-align-last: center;
}
.body-container_schedules .time-slot {
   
    margin-bottom: 20px;
    justify-content: space-around;
    background-color: #ffcc00;
    border: none;
    padding: 15px 30px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    color: #003366;
    text-align: center;
    text-transform: uppercase;
}
/* .time-slot:nth-child(1), 
.time-slot:nth-child(2) {
    background-color: #bea76f;
}
.time-slot:nth-child(3) {
    background-color: white;
    color: #ffcc00;
    border: 2px solid #ffcc00;
} */
.body-container_schedules .schedule {
    color: white;
    /* padding: 10px; */
    border-radius: 5px;
    /* display: flex; */
    /* width: 775px;
    height: 110px; */
    gap: 0px;
    flex-direction: column; 
    align-items: center; 
    width: 90%;
   
    

}
.body-container_schedules .schedule-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    background: rgba(255, 255, 255, 1);
    /* margin: 10px; */
    gap: 0px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: 45px;
    margin-top: 30px;
    width: 100%;
}
.body-container_schedules .schedule-item:last-child {
    border-bottom: none;
}

/* New Class Names */
.body-container_schedules .schedule-time {
    flex: 0 0 29%;
    /* flex: 1; */
    text-align: center;
    color: rgba(10, 59, 129, 1);
    font-family: "Inter";
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    text-align: center;
}
.body-container_schedules .schedule-names {
    flex: 0 0 57%;
    /* flex: 1; */
    text-align: center;
    color: rgba(10, 59, 129, 1);
    font-family: "Inter";
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
}
.body-container_schedules .schedule-images {
    /* flex: 1; */
    flex: 0 0 14%;
    text-align: right;
    position: relative;
    right: -15px; 
    justify-content: right;; 
    align-items: center;
    display: flex;
}
.schedule-images img {
    width: 73px;
    height: 72px;
    margin: -8px;
    border: 2px solid transparent;
}
.body-container_schedules .schedule-description {
    flex: 1; /* Take available space */
    text-align: center; /* Center align text */
    color: rgba(10, 59, 129, 1);
    font-family: "Inter";
    font-size: 12px; /* Smaller font size */
    font-weight: 400; /* Regular weight */
    line-height: 14px; /* Adjust line height as necessary */
    margin-top: 4px; /* Space between name and description */
}



.body-container_schedules .table-body{
    display: flex; 
    justify-content: center;
}
.body-container_schedules ul.button li{
 background-color: transparent;
 border: 1px solid white;
 font-family: Inter;
 font-size: 18px;
 padding: 6px 15px;
 text-align: center;
 
}

.body-container_schedules ul.button{
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #EDCEA1;

}
.body-container_schedules ul.button:hover li{
 border: 1px solid #0A3B81;
 
}
.body-container_schedules ul.button:hover{
   background-color: rgba(237, 206, 161, 1);

    color: #0A3B81;
    border-radius: 10px;
}

/* Selected State */
.body-container_schedules ul.button.selected {
    background-color: rgba(237, 206, 161, 1);  /* Same as hover background */
    color: #0A3B81;
    border-radius: 10px;
}

.body-container_schedules ul.button.selected li {
    border: 1px solid #0A3B81;  /* Same as hover border */
}

.body-container_schedules ul.button li:first-child{
 border-top-left-radius: 8px;
 border-top-right-radius: 8px;
}
.body-container_schedules ul.button li:last-child{
 border-bottom-left-radius: 8px;
 border-bottom-right-radius: 8px;
}
.body-container_schedules .button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;

}
.body-container_schedules .schedule-item:last-child {
    border-bottom: none;
}
.body-container_schedules .shine-box {
    position: relative;
    width: 100%;

    /* overflow: hidden; */
    border-radius: 8px; /* Match schedule-item's border radius */
    z-index: 1; /* Ensures the shine is above the item */
}
.body-container_schedules .shine-box:before {
    position: absolute;
    top: 0;
    left: -100%;
    content: "";
    width: 55px;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    transform: skew(26deg);
    animation: shine 2s ease infinite;
    animation-delay: 0s;
}
@keyframes shine {
    /* from {left: -120px;}
    to {left: 100%;} */
    from {left: 7%}
    to {left: 76%;}
}


@media (max-width: 768px){
    .body-container_schedules{
        display: flex !important; 
        justify-content: center !important;
    }
    .body-container_schedules .schedule {
        color: white;
        /* padding: 10px; */
        border-radius: 5px;
        /* display: flex; */
        width: 95%;
        /* height: 54px; */
        flex-direction: column; 
        align-items: center; 
        

    }
    .body-container_schedules .schedule-item {
        max-height: 56px;
        margin-top: 30px;
        width: 100%;
        /* margin: 10px; */
        margin-block: 23px;

    

    }
    .body-container_schedules .body-container_schedules{
        width: auto;
        height: 100vh;
        padding-bottom: 10px;
        /* background-color: #003366; */
        margin: 5px;

    }

    .body-container_schedules .container {
        width: 100%;
        max-width: 420px;
        color: white;
        /* padding: 20px; */
        border-radius: 10px;
        /* height: 100vh; */
        /* overflow-y: auto; */

    
    }
    .body-container_schedules .schedule-images {
        display: flex;
        flex: 0 0 24%;
        text-align: left;
        justify-content: flex-start; 
        align-items: left;
        /* position: relative; */

    }
    .body-container_schedules .schedule-images img {
        /* width: 80%;
        height: 80%; */
        max-width: 80px;
        max-height: auto;
        margin: -12px;
        border: 2px solid transparent;
    }
    .body-container_schedules .schedule-time {
        flex: 0 0 22%;
        text-align: center;
        color: rgba(10, 59, 129, 1);
        font-family: "Inter";
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
        text-align: center;
        /* width: 47px; */
    }
    .body-container_schedules .schedule-names {
        flex: 0 0 54%;
        text-align: center;
        color: rgba(10, 59, 129, 1);
        font-family: "Inter";
        font-size: 14px;
        font-weight: 500;
        line-height: 15px;
    }
    .body-container_schedules .button-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;

    }
    .body-container_schedules ul.button li{
        background-color: transparent;
        border: 1px solid white;
        padding: 5px 8px;
        font-family: Inter;
        font-size: 14px;
        
    }
    .body-container_schedules .label-time-slot {
        padding: 10px 15px;
        background-color: #003e7e;
        margin: 0 0px;

        /* Adjusted gradients with small vertical offsets */
        background: 
                    linear-gradient(to right, #FFFFFF99 1px, transparent 1px) 0 20px,
                    linear-gradient(to left, #FFFFFF99 1px, transparent 1px) 100% 20px, 
                    linear-gradient(to bottom, #FFFFFF99 1px, transparent 1px) 0 20px, 
                    linear-gradient(to bottom, #FFFFFF99 1px, transparent 1px) calc(100% - 0px) 20px; 
        
        background-repeat: no-repeat;
        background-size: 12px 12px;
        font-family: "Inter";
        font-size: 10px;
        font-weight: 500;
        line-height: 18px;
        text-align: center;
        margin-bottom: 8px;

    }
    .body-container_schedules .label-time-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 25px;
    }
    .body-container_schedules .image-container {
        text-align: center;
        margin-bottom: 20px;
        place-content: center;
        max-width: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
    }
    
    .body-container_schedules .image-container button.calendar-button {
        align-items: center;
        gap: 10px;
        background-color:#0A3B81;
        color: white;
        border: none;
        position: relative;
        /* padding: 10px 20px; */
        display: flex;
        font-family: "Inter";
        font-size: 16px;
        font-weight: 500;
        line-height: 24.2px;
        text-align: left;

    }
    .body-container_schedules .header h1 {
        margin: 0;
        font-size: 22px;
        font-family: "Inter";
    }
    .body-container_schedules svg {
        width: 18px;
        height: 18px;
    }
    .body-container_schedules .schedule-time .time_hyphen{
             display: none;
    }
    /* .tab-content{
        display: grid !important;
        place-items: center;
        border: 1px solid red;
    } */

    .body-container_schedules .table-body {
        display: flex;
        justify-content: center;
        overflow-y: auto;
        max-height: 95%;
        /* height: fit-content; */
        /* border: 1px solid red; */
        /* padding-block: 10px; */
    }
    .body-container_schedules {
        padding-bottom: 0px  !important;
    }

    
    

}
